{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1>Doge as a Service</h1>
    <h3>v0.1</h3>
  </div>
  <h2>Hello this is Doge as a Service</h2> 
  <p>much RESTful such API wow very <a href="//github.com/simplyluke/daas">github grrr octocat</a></p>
  <h2>Content</h2>
  <h3>text/html</h3>
  <p>very HTML page many bootstrap jumbotron wow</p>
  <h3>COMING SOON: application/json</h3>
  <p>many colon wow such json</p>
  <h1>Such API</h1>
  <h3>/wow/:word</h3>
  <p>plz return 'wow such :word.'</p>
  <h3>/very/:word</h3>
  <p>plz return 'very :word. wow.'</p>
  <h3>/plz/:to/:from</h3>
  <p>plz return ':to plz - from :from'</p> 
  <h3>/little/:word</h3>
  <p>plz return 'little :word. wow.'</p>
  <h3>/wat/:name</h3>
  <p>plz return 'wat u doin, :name'</p>
  <h3>/omg/:word</h3>
  <p>plz return 'omg such :word. wow.'</p>
  <h3>/thx/:to/:from</h3>
  <p>plz return 'thx :to - from :from'</p>
{% endblock %}
